/**
* github user website
* @author forest white
* @version 0.1
*/
body { 
  background: lightgray; 
  margin: 0;
}
header {
  color: white;
  text-align: center;
  background: url("mondrian.png");
  background-size: cover;
}
a.nav {
  color: rgba(100,150,222,1.0);
  text-decoration: none;
}
h1 {
  font-size: 46;
  font-family: Garamond;
  color: rgba(0,22,80,0.6);
}
li {
  display: inline;
  padding: 0px 40px 0px 20px;
}
@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
h2 { text-align: center; }
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.portrait {
  margin: 40px 0px 0px 0px;
  border: 7px solid rgba(0,22,80,0.6);
  border-radius: 80px;
  width: 150px;
}
ul {
  margin: 0;
  padding: 10px;
  background: rgba(0,0,0,0.6);
}
main{ 
  margin: 0.5em auto 0.5em auto; 
  background: lightgray; 
}
article {
  max-width: 900px;
  padding: 20px;
  margin: 0.5em auto 0.5em auto; 
  background: gray;
  border-radius: 10px;
}
footer {
  padding: 20px;
  background: black;
  color: light gray;
}